@model IEnumerable<ImageViewModel>

<div class="container my-5">
    <h1 class="text-center">Liste des images</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@item.ImageUrl" alt="@item.image.Nom" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.image.Nom</h5>
                        <p class="card-text">Identifiant: @item.image.Identifiant</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>