

@{
    ViewData["Title"] = "Home Page";
}

<h3>Présentation de la vue</h3>
<a class="btn btn-danger" asp-controller="home" asp-action="Vue">La vue</a>


<h3>Les équipes</h3>
<a class="btn btn-danger" asp-controller="home" asp-action="GetEquipes">Les équipes</a>

