

@{
    ViewData["Title"] = "Home Page";
}

<h3>Présentation de la vue</h3>
<a class="btn btn-danger" asp-controller="home" asp-action="Vue">La vue</a>


<h3>Les équipes</h3>
<a class="btn btn-danger" asp-controller="home" asp-action="GetEquipes">Les équipes</a>

<h3> Données que je déchiffre avant d'afficher (AdresseNumeroPorte)</h3>
<a class="btn btn-danger" asp-controller="home" asp-action="DonnéesChiffréesAafficher">Voir les données</a>


<h3>Liste des images</h3>
<a class="btn btn-danger" asp-controller="images" asp-action="index">Voir les images</a>

<h3>Créer/importer une image</h3>
<a class="btn btn-danger" asp-controller="images" asp-action="create">Créer une image</a>